<!-- Header -->
<header id="header" class="header header-floating">
    <div class="header-top bg-black-333 sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="widget text-white">
              <i class="fa fa-clock-o text-theme-colored"></i> Abierto : Lunes - Viernes : 7.00 am - 5.00 pm Sabados y Domingos previa Cita
              
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget pull-right flip sm-pull-none">
        
            </div>
            <div class="widget pull-right flip sm-pull-none">
              <ul class="list-inline text-right flip sm-text-center">
                <li>
                  <a class="text-white" href="#">FAQ</a>
                </li>
                <li class="text-white">|</li>
                <li>
                  <a class="text-white" href="#">Ayuda</a>
                </li>
                <li class="text-white">|</li>
                <li>
                  <a class="text-white" href="#">Administración</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav header-nav-center header-nav-centered-logo 
    navbar-sticky navbar-sticky-animated navbar-fixed ">
      <div class="header-nav-wrapper">
        <div class="container">
          <nav id="menuzord" class="menuzord default no-bg">
            <a class="menuzord-brand switchable-logo" href="index-mp-layout1.html">
              <img class="logo-default" src="./assets/images/in/LogoRosado.png" alt="">
              <img class="logo-scrolled-to-fixed" src="./assets/images/in/LogoRosado.png" alt="">
            </a>
            <ul class="menuzord-menu">
              <li class="active"><a >Home</a>
              
              </li>
              <li><a href="">Grupo Amlab</a>
                <div class="megamenu megamenu-bg-img">
                  <div class="megamenu-row">
                    <div class="col3">
                      <h4 class="megamenu-col-title">Departamentos:</h4>
                      <div class="widget">
                        <div class="latest-posts">
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="laboratorio.html" class="post-thumb"><img alt="" src="images/pM.webp"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0 mb-5"><a href="laboratorio.html">Laboratorio</a></h5>

                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="ginecologia.html" class="post-thumb"><img alt="" src="images/pG.webp"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0 mb-5"><a href="ginecologia.html">Ginecología</a></h5>

                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="ecografia.html" class="post-thumb"><img alt="" src="images/pE.webp"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0 mb-5"><a href="ecografia.html">Ecografía</a></h5>

                            </div>
                          </article>
                          <article class="post media-post clearfix pb-0 mb-10">
                            <a href="admin.html" class="post-thumb"><img alt="" src="images/pmA.webp"></a>
                            <div class="post-right">
                              <h5 class="post-title mt-0 mb-5"><a href="admin.html">Administración</a></h5>

                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="col3">
                      <h4 class="megamenu-col-title"><strong>Acerca de Amlab:</strong></h4>
                      <article class="post clearfix">
                        <div class="entry-header">
                          <div class="post-thumb"> <img class="img-responsive" src="images/p.webp" alt=""> </div>
                        </div>
                        <div class="entry-content">
                          <p class="">Conoce nuestra Visón Misión</p>
                          <a class="btn btn-dark btn-theme-colored" href="nosotros.html">Leer más..</a>
                        </div>
                      </article>
                    </div>
                    <div class="col3">
                      <h4 class="megamenu-col-title">De Interes:</h4>
                      <ul class="list-dashed list-icon">
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="equipo,html">Equipo</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                       
                      </ul>
                    </div>
                    <div class="col3">
                      <h4 class="megamenu-col-title">Mas Link:</h4>
                      <ul class="list-dashed list-icon">
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                        <li><a href="terminos.html">Terminos de Uso</a></li>

                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li> <a >Acerca de Amlab</a>
               
              </li>
             
              <li><a href="javascript:void(0)">Lista Servicios</a>
                <div class="megamenu">
                  <div class="megamenu-row">
                    <div class="col3">
                      <ul class="list-unstyled list-dashed">
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Diagnóstico HIV (Sida)</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Determinación de alergias</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Prueba de embarazo en orina y sangre</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Cultivos y antibiograma en sangre</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil 20</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Lipídico</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Perfil Preoperatorio</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Perfil Tiroideo</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Prostático</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Perfil Hepático</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Reumatológico</a></li>
                       
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="list-unstyled list-dashed">
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Perfil Pre Natal</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Ocupacional</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Toxicológico</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Perfil Inmunológico</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i> Perfil Chequeo Anual Completo</a></li>
                        <li><a href="laboratorio.html"><i class="fa fa-flask text-white"></i>Pruebas Hormonales</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i> Ecografía ABDOMINAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía ABDOMINAL-PELVICO</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i> Ecografía CADERAS</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía DE CUELLO</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía MAMARIO</a></li>
                        
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="list-unstyled list-dashed">
                        
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía DE MUSLOS</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía PAROTIDAS</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía PARTES BLANDAS</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>PELVICO</a></li>
                        <li><a href="ecografia.html"><i class="fa fa-laptop-medical text-white"></i> PROSTATICO SUPRAPUVICO</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>PUNCION DIRIGIDA DE MAMA</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía RENAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>RENO-VESICO-PROSTATICO</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>RENO-VESICAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía TIROIDEO</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía VESICAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Control de embarazos</a></li>
                        
                      </ul>
                    </div>
                    <div class="col3">
                      <ul class="list-unstyled list-dashed">
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>REGION INGUINAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>UMBILICAL</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografía TESTICULAR</a></li>
                        <li><a href="ecografia.html"> <i class="fa fa-laptop-medical text-white"></i>Ecografías Caderas</a></li>
                       
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Control de embarazos</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Métodos anticonceptivos</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Implantes sub dérmicos</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Tratamiento para VPH</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Ecografía Ginecológica</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Ecografía Obstétrica</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Citologías</a></li>
                        <li><a href="ginecologia.html"> <i class="fa fa-female  text-white"></i>Biopsias</a></li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class=""><a >Contacto</a>
                
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
