    <!-- Section: home -->
    <section id="home" class="">
        <div class="container-fluid p-0">
  
         

          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/images/in/labo.webp" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Grupo Amlab</h3>
                <p>Laboratorio Clinico</p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/images/in/slideAm.webp" alt="Second slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <div class="view w-100">
                <img class="d-block w-100" src="./assets/images/in/eco.webp" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
              
              <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
           
          
     
        <!-- END REVOLUTION SLIDER -->
        </div>
        </section>
        <section id="depertment" class="">
          <div class="container">
            <div class="section-title text-center">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="text-uppercase mt-0 line-height-1">Grupo Amlab </h2>
                  <div class="title-icon">
                    <img class="mb-10" src="./assets/images/title-icon.png" alt="">
                  </div>
                  <p>Conoce cada uno y que ofrecemos<br> </p>
                </div>
              </div>
            </div>
            <div class="section-content">
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="box-hover-effect effect-siberia mb-30">
                    <div class="effect-wrapper">
                      <div class="thumb">
                        <img class="img-fullwidth" src="./assets/images/4.webp" alt="project">
                      </div>
                      <div class="info-box">
                        <div class="info-title bg-theme-colored-transparent-9">
                          <h3 class="title text-white mt-0">Laboratorio</h3>
                        </div>
                        <div class="info-content text-white bg-theme-colored-transparent-9">
                          <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Laboratorio</h3>
                          <p>Ofrecemos diversos pruebas y examenes .</p>
                          <a class="btn btn-theme-colored2" [routerLink]="[ '/laboratorio' ]">Ir a Laboratorio</a>
                        </div>
                      </div>
                    </div><
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="box-hover-effect effect-siberia mb-30">
                    <div class="effect-wrapper">
                      <div class="thumb">
                        <img class="img-fullwidth" src="./assets/images/14212.webp" alt="project">
                      </div>
                      <div class="info-box">
                        <div class="info-title bg-theme-colored-transparent-9">
                          <h3 class="title text-white mt-0">Ginecología</h3>
                        </div>
                        <div class="info-content text-white bg-theme-colored-transparent-9">
                          <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Ginecología</h3>
                          <p>Control de embarazos y mucho más .</p>
                          <a class="btn btn-theme-colored2" [routerLink]="[ '/ginecologia' ]">Ir a Ginecología</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="box-hover-effect effect-siberia mb-30">
                    <div class="effect-wrapper">
                      <div class="thumb">
                        <img class="img-fullwidth" src="./assets/images/eco2.webp" alt="project">
                      </div>
                      <div class="info-box">
                        <div class="info-title bg-theme-colored-transparent-9">
                          <h3 class="title text-white mt-0">Ecografía</h3>
                        </div>
                        <div class="info-content text-white bg-theme-colored-transparent-9">
                          <h3 class="text-white mt-0"><i class="fa fa-globe font-24"></i> Ecografía</h3>
                          <p>Ecos de cuello, mamario entre otros.</p>
                          <a class="btn btn-theme-colored2" [routerLink]="[ '/ecografia' ]">ir a Ecografía</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             
              </div>
            </div>
          </div>
        </section>
        
  
             <!-- Section: Feautears -->
      <section class="divider parallax layer-overlay overlay-white-6 parallax" data-bg-img="./assets/images/in/pagos.jpg">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container pt-100 pb-100">
              <div class="row">
                <div class="col-md-8">
                  <h2 class="mt-0 font-36 font-weight-800">Formas en la que Puedes pagar  <span class="text-theme-colored"></span></h2>
                 
                  <p class="mb-30 lead">Aceptamos pago Movil Transferencias y contamos con Punto de Ventas .</p>
                  <div class="row multi-row-clearfix mb-sm-30">
                    <div class="col-sm-6 col-md-6">
                      <div class="icon-box icon-left">
                        <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-left flip sm-pull-none" href="#">
                        <img src="./assets/images/in/iconosP/mi-coleccion-de-iconos/png/003-pay.png"  alt="">
                        </a>
                        <h4 class="icon-box-title mt-10">Pago movil</h4>
                        <p>Un mensaje y Listo</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="icon-box icon-left">
                        <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-left flip sm-pull-none" href="#">
                          <img src="./assets/images/in/iconosP/mi-coleccion-de-iconos/png/online.png"  alt="">
                        </a>
                        <h4 class="icon-box-title mt-10">Transferencias</h4>
                        <p>Bancos.</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="icon-box icon-left">
                        <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-left flip sm-pull-none" href="#">
                          <img src="./assets/images/in/iconosP/mi-coleccion-de-iconos/png/pv.png"  alt="">
                        </a>
                        <h4 class="icon-box-title mt-10">Punto de Ventas</h4>
                        <p>Aceptamos debito credito.</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                      <div class="icon-box icon-left">
                        <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circled pull-left flip sm-pull-none" href="#">
                          <img src="./assets/images/in/iconosP/mi-coleccion-de-iconos/png/cash.png"  alt="">
                        </a>
                        <h4 class="icon-box-title mt-10">Efectivo</h4>
                        <p>Tambien.</p>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    
    <!-- Section: about -->
    <section class="divider parallax layer-overlay overlay-white-8 parallaxb" data-bg-img="images/in/contac.webp">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container pt-100 pb-100">
              <h2 class="font-36 font-weight-800 text-center">Solicita  <span class="text-theme-colored">Presupuesto</span></h2>
              <p class="mb-30 lead text-center">No tienes excusas puedes ubicarnos alli .</p>
              <div class="row pt-30">
                <div class="col-md-7">
                  <h3 class="line-bottom mt-0 mb-30">Solicita tu Presupueto </h3>
                  
                  <!-- Contact Form -->
                  <form id="contact_form" name="contact_form" class="" method="post">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Nombre <small>*</small></label>
                          <input name="form_name" class="form-control" type="text" placeholder="Escriba su Nombre" required="">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Email <small>*</small></label>
                          <input name="form_email" class="form-control required email" type="email" placeholder="Email">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Servicios solicitado  <small>*</small></label>
                          <input name="form_subject" class="form-control required" type="text" placeholder="Ejemplo Examen a realizarse,  consulta ">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Telefono</label>
                          <input name="form_phone" class="form-control" type="text" placeholder="Telefono">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Mensaje</label>
                      <textarea name="form_message" class="form-control required" rows="5" placeholder="Escriba Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                      <input name="form_botcheck" class="form-control" type="hidden" value="" />
                      <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" data-loading-text="Please wait...">Enviar mensaje</button>
                    </div>
                  </form>
                  <!-- Contact Form Validation-->
                  <script>
                    $("#contact_form").validate({
                      submitHandler: function(form) {
                        var form_btn = $(form).find('button[type="submit"]');
                        var form_result_div = '#form-result';
                        $(form_result_div).remove();
                        form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                        var form_btn_old_msg = form_btn.html();
                        form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                        $(form).ajaxSubmit({
                          dataType:  'json',
                          success: function(data) {
                            if( data.status === 'true' ) {
                              $(form).find('.form-control').val('');
                            }
                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                            $(form_result_div).html(data.message).fadeIn('slow');
                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                          }
                        });
                      }
                    });
                  </script>
  
                </div>
                <div class="col-md-5">
  
                  <!-- Google Map HTML Codes -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5456.163483134849!2d144.95177475051227!3d-37.81589041361766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121+King+St%2C+Melbourne+VIC+3000%2C+Australia!5e0!3m2!1sen!2sbd!4v1556130803137!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      