  <!-- Section: inner-header -->
  <section class="inner-header divider parallax layer-overlay overlay-white-2 parallaxe" data-bg-img="./assets/images/in/mamo.webp">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">Ecografía</h2>
            <ol class="breadcrumb text-center text-white mt-10">
              <li><a href="#">Home</a></li>
             
              <li class="active text-theme-colored">ecografia</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Services -->
  <section>
    <div class="container">
      <div class="row mtli-row-clearfix">
        <div class="col-sm-6 col-md-8 col-lg-8">
          <div class="campaign maxwidth500 mb-sm-30">
            <div class="thumb">
              <img src="./assets/images/ecoma.webp" alt="" class="img-fullwidth">
              <div class="campaign-overlay"></div>
            </div>
            <h4 class=""><a href="#">Ecografía </a></h4>
          </div>
          <div class="event-details">
            <p class="mb-20 mt-0">La ecografía o ultrasonido es un tipo de imagen. Utiliza ondas sonoras de alta frecuencia para observar órganos y estructuras al interior del cuerpo. Los profesionales de la salud los usan para ver el corazón, los vasos sanguíneos, los riñones, el hígado y otros órganos. Durante el embarazo, los médicos usan las pruebas con ultrasonido para observar al feto. A diferencia de las radiografías, la ecografía no expone a la radiación.</p>
            <div class="pull-left flip mr-15">
              <img alt="" src="./assets/images/18923.webp">
            </div>
            <div class="">
              <p class="text-black-light"><em>La ecografía del seno usa ondas sonoras para crear una imagen computarizada de la parte interna del seno.</em></p>
              <p class="mt-10">La ecografía es útil para observar algunos cambios en los senos, como masas (especialmente aquellas que se pueden palpar, pero que no se pueden ver en un mamograma) o cambios en mujeres con tejido mamario denso. También puede utilizarse para analizar un área que se observó en un mamograma y que causa sospecha. </p>
            </div>
            <p class="mt-20">
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="sidebar sidebar-right mt-sm-30">
            <div class="widget">
              <h5 class="widget-title line-bottom">Ecos</h5>
              <ul class="list-divider list-border list check">
                <li><a class="text-theme-colored" href="#">RENO-VESICAL</a></li>
                <li><a href="#">RENO-VESICO-PROSTATICO</a></li>
                <li><a href="#">TIROIDEO</a></li>
                <li><a href="#">VESICAL</a></li>
                <li><a href="#">REGION INGUINAL</a></li>
                <li><a href="#">UMBILICAL</a></li>
                <li><a href="#">TESTICULAR</a></li> 
                <li><a href="#">OBSTETRICO</a></li>   
              </ul>
            </div>
            <div class="widget">
              <div class="border-10px p-30">
                <h5><i class="fa fa-clock-o text-theme-colored"></i> Horarios de Atención</h5>
                <div class="opening-hours text-left">
                  <ul class="list-unstyled">
                    <li class="clearfix line-height-1"> <span> Lunes - Viernes</span>
                      <div class="value"> 9.00 - 20.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Sabado </span>
                      <div class="value"> 10.00 - 16.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Domingo</span>
                      <div class="value"> 9.30 - 18.00 </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="btn btn-dark btn-theme-colored mt-15">Hacer Cita Online</a>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">De interes </h5>
              <div class="owl-carousel-1col">
                <div class="item">
                  <img src="./assets/images/14212.webp" alt="">
                  <h4 class="title">Medicamentos</h4>
                  <p>Tratamientos informate.</p>
                </div>
                <div class="item">
                  <img src="./assets/images/18923.webp" alt="">
                  <h4 class="title">Prevención cancer de mama</h4>
                  <p>Una guía practica.</p>
                </div>
                <div class="item">
                  <img src="./assets/images/14215.webp" alt="">
                  <h4 class="title">Metodos anticoncteptivos</h4>
                  <p>Como usarlos ? cuando?.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
          <h3 class="title mb-30 line-bottom">Lista de Ecos realizados </h3>
          <ul class="list-border-bottom no-padding">
            <li>
              <h5>ABDOMINAL <span class="pull-right flip font-weight-400 pr-20"></span></h5>
             
            </li>
            <li>
              <h5>ABDOMINAL-PELVICO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>CADERAS <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>DE CUELLO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>MAMARIO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>REGION INGUINAL <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
          </ul>
         
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
          <h3 class="title mb-30 line-bottom"></h3>
          <ul class="list-border-bottom no-padding">
            <li>
              <h5>GINECOLOGICO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>DE MUSLOS<span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>PAROTIDAS <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>PARTES BLANDAS <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>PELVICO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>TRASVAGINAL <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>


          </ul>
         
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
          <h3 class="title mb-30 line-bottom"></h3>
          <ul class="list-border-bottom no-padding">
            <li>
              <h5>PROSTATICO SUPRAPUVICO <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>PUNCION DIRIGIDA DE MAMA<span class="pull-right flip font-weight-400 pr-20"></span></h5>
             
            </li>
            <li>
              <h5>RENAL <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>RENO-VESICO-PROSTATICO/con orina resid. <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
            <li>
              <h5>RENO-VESICAL-prostatico <span class="pull-right flip font-weight-400 pr-20"></span></h5>
              
            </li>
          
          </ul>
         
        </div>
      </div>
    </div>
  </section> 
