 <!-- Footer -->
 <footer id="footer" class="footer">
    <div class="container pt-70 pb-40">
      <div class="col-md-4">
      
      </div>
      <div class="col-md-4">
           <div class="widget dark">
              <img class="mt-10 mb-20" alt="" src="./assets/images/in/logofo.png">
              <p>Amlab Laboratorio clinico Contigo</p>
              <ul class="list-inline mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr-5"></i> <a
                    class="text-gray" href="#">Calle 02 Entre Av Luis Del Valle Garcia y Av Fuerzas Armadas</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray"
                    href="#">(0291)-9350434</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a
                    class="text-gray" href="#">amlabca.maturin@gmail.com</a> </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray"
                    href="#">https://amlab.com.ve</a> </li>
              </ul>
            </div>
      </div>
      <div class="col-md-4">
       
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6 sm-text-center">
            <p class="font-13 text-black-777 m-0">Copyright &copy;2020 Amlab.com.ve</p>
          </div>
          <div class="col-md-6 text-right flip sm-text-center">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-circled icon-sm">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
