  <!-- Start main-content -->->
  <section class="inner-header divider parallax layer-overlay overlay-white-1" data-bg-img="./assets/images/bg/bg6.webp">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">Nosotros</h2>
            <ol class="breadcrumb text-center text-white mt-10">
              <li><a href="#">Home</a></li>
              <li><a href="#"></a></li>
              <li class="active text-silver-gray"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: about -->
  <section class="">
    <div class="container pb-0">
      <div class="row">
        <div class="col-md-8">
          <h4 class="text-uppercase text-theme-colored2 mt-sm-10">Bienvenidos a Amlab </h4>
          <h2 class="mt-0">Conoce un poco de nuestra Visión, Misión entre otras cosas de interes.</h2>
          <p class="lead">AMLab CA. Hemos nacido como empresa en abril de 2014 como un laboratorio clínico especializado y a lo largo del tiempo hemos complementado nuestros servicios con Ginecología, Obstetricia y Ecografía convencional, Así como también estética facial. Por tal razón, en aras de promover nuestros servicios y ampliar nuestra cartera de clientes queremos ofrecerles nuestros servicios.</p>
          <h2>Misión</h2>
          <p class="lead">AMLab CA. Hemos nacido como empresa en abril de 2014 como un laboratorio clínico especializado y a lo largo del tiempo hemos complementado nuestros servicios con Ginecología, Obstetricia y Ecografía convencional, Así como también estética facial. Por tal razón, en aras de promover nuestros servicios y ampliar nuestra cartera de clientes queremos ofrecerles nuestros servicios</p>

          <h2>Visión</h2>
          <p class="lead">AMLab CA. Hemos nacido como empresa en abril de 2014 como un laboratorio clínico especializado y a lo largo del tiempo hemos complementado nuestros servicios con Ginecología, Obstetricia y Ecografía convencional, Así como también estética facial. Por tal razón, en aras de promover nuestros servicios y ampliar nuestra cartera de clientes queremos ofrecerles nuestros servicios</p>

          <h3 class="text-theme-colored mb-0">Michell</h3>
          <p><span>Director</span></p>

          <p class="mt-20"><img src="images/" alt=""></p>
        </div>
        <div class="col-md-4">
          <img src="./assets/images/original.webp" alt="">
        </div>
      </div>
    </div>
  </section>




