  <!-- Section: inner-header -->
  <section class="inner-header divider parallax layer-overlay overlay-white-2 parallaxg" data-bg-img="./assets/images/gine3.webp">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
         
            <h2 class="title text-center" >Ginecología</h2>
            
         
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Services -->
  <section>
    <div class="container">
      <div class="row mtli-row-clearfix">
        <div class="col-sm-6 col-md-8 col-lg-8">
          <div class="campaign maxwidth500 mb-sm-30">
            <div class="thumb">
              <img src="./assets/images/1413.webp" alt="" class="img-fullwidth">
              <div class="campaign-overlay"></div>
            </div>
            <h4 class=""><a href="#">Ginecología</a></h4>
          </div>
          <div class="event-details">
            <p class="mb-20 mt-0">Ginecología que significa literalmente ciencia de la mujer y en medicina hace referencia a la especialidad médica y quirúrgica que estudia el sistema reproductor femenino.
              La evaluación ginecológica puede ser necesaria para estimar un problema específico como dolor pelviano, sangrado vaginal o flujo. Las mujeres también requieren evaluaciones ginecológicas de rutina, que pueden ser proporcionadas por un ginecólogo, un internista o un médico de familia; se recomenda realizarlas una vez por año para todas las mujeres sexualmente activas o > 18 años. La evaluación obstétrica se enfoca en los temas relacionados con el embarazo.
            </p>
            <div class="pull-left flip mr-15">
              <img alt="" src="./assets/images/14215.webp">
            </div>
            <div class="">
              <p class="text-black-light"><em>Muchas mujeres esperan que su ginecólogo les proporcione atención general y ginecológica. La atención médica general puede incluir asesoramiento sobre la salud general.</em></p>
              <p class="mt-10">Contatanos visitanos para asesorarte atenderte en todo lo relacionado a u salud femenina, nuesro equipo profesional esa calificado para dare una atención de primera  </p>
            </div>
            <p class="mt-20">
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="sidebar sidebar-right mt-sm-30">
            <div class="widget">
              <h5 class="widget-title line-bottom">Servicios Ginecologicos</h5>
              <ul class="list-divider list-border list check">
                <li><a class="text-theme-colored" href="#">Métodos anticonceptivost</a></li>
                <li><a href="#">Implantes sub dérmicos/Colocación de DIU</a></li>
                <li><a href="#">Control de Embarazo</a></li>
                <li><a href="#">Tratamiento para VPH</a></li>
                <li><a href="#">Ecografía Ginecológica / Ecografía Obstétrica</a></li>
                <li><a href="#">Citologías / Biopsias</a></li>
                <li><a href="#">Planificación Familiar</a></li>
              </ul>
            </div>
            <div class="widget">
              <div class="border-10px p-30">
                <h5><i class="fa fa-clock-o text-theme-colored"></i> Horarios de Atención</h5>
                <div class="opening-hours text-left">
                  <ul class="list-unstyled">
                    <li class="clearfix line-height-1"> <span> Lunes - Viernes</span>
                      <div class="value"> 9.00 - 20.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Sabado </span>
                      <div class="value"> 10.00 - 16.00 </div>
                    </li>
                    <li class="clearfix line-height-1"> <span> Domingo</span>
                      <div class="value"> 9.30 - 18.00 </div>
                    </li>
                  </ul>
                </div>
                <a href="#" class="btn btn-dark btn-theme-colored mt-15">Hacer Cita Online</a>
              </div>
            </div>
            <div class="widget">
              <h5 class="widget-title line-bottom">De interes </h5>
              <div class="owl-carousel-1col">
                <div class="item">
                  <img src="./assets/images/14212.webp" alt="">
                  <h4 class="title">Medicamentos</h4>
                  <p>Tratamientos informate.</p>
                </div>
                <div class="item">
                  <img src="./assets/images/18923.webp" alt="">
                  <h4 class="title">Prevención cancer de mama</h4>
                  <p>Una guía practica.</p>
                </div>
                <div class="item">
                  <img src="./assets/images/14215.webp" alt="">
                  <h4 class="title">Metodos anticoncteptivos</h4>
                  <p>Como usarlos ? cuando?.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
          <h3 class="title mb-30 line-bottom">Tratamientos</h3>
          <ul class="list-border-bottom no-padding">
            <li>
              <h5>Métodos anticonceptivos<span class="pull-right flip font-weight-400 pr-20"></span></h5>
   
            </li>
            <li>
              <h5>Implantes sub dérmicos/Colocación de DIU <span class="pull-right flip font-weight-400 pr-20"></span></h5>
            
            </li>
            <li>
              <h5>Control de Embarazo<span class="pull-right flip font-weight-400 pr-20"></span></h5>
            
            </li>
          </ul>
          <a class="text-theme-colored font-weight-600 font-13" href="#"></a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
          <h3 class="title mb-30 line-bottom"></h3>
          <ul class="list-border-bottom no-padding">
            <li>
              <h5>Tratamiento para VPH<span class="pull-right flip font-weight-400 pr-20"></span></h5>
            
            </li>
            <li>
              <h5>Ecografía Ginecológica / Ecografía Obstétrica<span class="pull-right flip font-weight-400 pr-20"></span></h5>
            
            </li>
            <li>
              <h5>Citologías / Biopsias<span class="pull-right flip font-weight-400 pr-20"></span></h5>
            
            </li>
          </ul>
          <a class="text-theme-colored font-weight-600 font-13" href="#"></a>
        </div>
       
      </div>
    </div>
  </section>

