<p>labo works!</p>
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-2 parallaxl" data-bg-img="./assets/images/labo5.webp">
        <div class="container pt-70 pb-20">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                <h2 class="title text-center">Laboratorio</h2>
                <ol class="breadcrumb text-center text-white mt-10">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Pages</a></li>
                  <li class="active text-theme-colored">Page Title</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Section: Services -->
      <section>
        <div class="container">
          <div class="row mtli-row-clearfix">
            <div class="col-sm-6 col-md-8 col-lg-8">
              <div class="campaign maxwidth500 mb-sm-30">
                <div class="thumb">
                  <img src="./assets/images/labo4.webp" alt="" class="img-fullwidth">
                  <div class="campaign-overlay"></div>
                </div>
                <h4 class=""><a href="#">laboratorio</a></h4>
              </div>
              <div class="event-details">
                <p class="mb-20 mt-0">El laboratorio clínico es el lugar donde un equipo multidisciplinario formado por el médico patólogo clínico o analista clínico, los profesionales del laboratorio y los técnicos en análisis clínicos, analizan muestras biológicas humanas que contribuyen al estudio, prevención, y hace investigación viable para el cuerpo humano </p>
                <div class="pull-left flip mr-15">
                  <img alt="" src="./assets/images/bg/labo.webp">
                </div>
                <div class="">
                  <p class="text-black-light"><em> La salud es uno de los elementos más relevantes para el desarrollo de una vida larga y productiva. Para estar sanos, una persona debe combinar ciertas acciones o actitudes tales como llevar a cabo una buena alimentación, realizar ejercicios de manera regular, no consumir sustancias tóxicas y realizar chequeos médicos para prevenir o controlar posibles complicaciones..</em></p>
                  <p class="mt-10">Contamos que instalaciones optimas para ofrecer un servicio de calidad, siempre pensando en nuestros clientes   </p>
                </div>
                <p class="mt-20">Nuestra moderna infraestructura y nuestro personal calificado están a su disposición para realizar de formas rápida y efectiva los exámenes necesarios para ingresos pre y  post vacacionales para de esta forma  ofrecer un servicio integral a empresas y corporaciones para más información no dude en contactarnos  .
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="sidebar sidebar-right mt-sm-30">
                <div class="widget">
                  <h5 class="widget-title line-bottom">Link</h5>
                  <ul class="list-divider list-border list check">
                    <li><a class="text-theme-colored" href="#">Diagnóstico HIV (Sida)</a></li>
                    <li><a href="#">Determinación de alergias.</a></li>
                    <li><a href="#">Perfil 20</a></li>
                    <li><a href="#">Perfil Lipídico</a></li>
                    <li><a href="#">Perfil Reumatológico</a></li>
                    <li><a href="#">Perfil Pre Natal</a></li>
                  </ul>
                </div>
                <div class="widget">
                  <div class="border-10px p-30">
                    <h5><i class="fa fa-clock-o text-theme-colored"></i> Horarios de Atención</h5>
                    <div class="opening-hours text-left">
                      <ul class="list-unstyled">
                        <li class="clearfix line-height-1"> <span> Lunes - Viernes</span>
                          <div class="value"> 9.00 - 20.00 </div>
                        </li>
                        <li class="clearfix line-height-1"> <span> Sabado </span>
                          <div class="value"> 10.00 - 16.00 </div>
                        </li>
                        <li class="clearfix line-height-1"> <span> Domingo</span>
                          <div class="value"> 9.30 - 18.00 </div>
                        </li>
                      </ul>
                    </div>
                    <a href="#" class="btn btn-dark btn-theme-colored mt-15">Hacer Cita Online</a>
                  </div>
                </div>
                <div class="widget">
                  <h5 class="widget-title line-bottom">De interes </h5>
                  <div class="owl-carousel-1col">
                    <div class="item">
                      <img src="./assets/images/14212.webp" alt="">
                      <h4 class="title">Medicamentos</h4>
                      <p>Tratamientos informate.</p>
                    </div>
                    <div class="item">
                      <img src="./assets/images/18923.webp" alt="">
                      <h4 class="title">Prevención cancer de mama</h4>
                      <p>Una guía practica.</p>
                    </div>
                    <div class="item">
                      <img src="./assets/images/14215.webp" alt="">
                      <h4 class="title">Metodos anticoncteptivos</h4>
                      <p>Como usarlos ? cuando?.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
              <h3 class="title mb-30 line-bottom">Lista de examenes </h3>
              <ul class="list-border-bottom no-padding">
                <li>
                  <h5>Diagnóstico HIV (Sida).<span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
                <li>
                  <h5>Determinación de alergias. <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
                <li>
                  <h5>Prueba de embarazo en orina y sangre <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
                <li>
                  <h5>Perfil Hormonal<span class="pull-right flip font-weight-400 pr-20"></span></h5>
                
                </li>
                <li>
                  <h5>Perfil Hepático <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
              </ul>
             
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
              
              <ul class="list-border-bottom no-padding">
                <li>
                  <h5>Cultivos y antibiograma en sangre, orina, heces y de exudado faríngeo. <span class="pull-right flip font-weight-400 pr-20"></span></h5>
         
                </li>
                <li>
                  <h5>Perfil 20 <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                
                </li>
                <li>
                  <h5>Perfil Lipídico <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
                <li>
                  <h5>Perfil Reumatológico <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
                <li>
                  <h5>Perfil Pre Natal <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  
                </li>
  
  
  
                
              </ul>
            
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
              
              <ul class="list-border-bottom no-padding">
                <li>
                  <h5>Perfil Preoperatorio <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  <p> </p>
                </li>
                <li>
                  <h5>Perfil Tiroideo<span class="pull-right flip font-weight-400 pr-20"></span></h5>
                  <p></p>
                </li>
                <li>
                  <h5>Perfil Prostático <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                 
                </li>
                <li>
                  <h5>Perfil Toxicológico <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                 
                </li>
                <li>
                  <h5>Perfil Inmunológico <span class="pull-right flip font-weight-400 pr-20"></span></h5>
                 
                </li>
              </ul>
             
            </div>
          </div>
        </div>
      </section>
  
  