.parallaxl {
    /* The image used */
    background-image: url("../../../../assets/images/labo5.webp");
  
    /* Set a specific height */
    height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}